<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--        <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--        &lt;!&ndash;-->
<!--            注意: 这个配置文件并不会被实际使用到, 写这个文件仅仅是为了让 IDEA 的 Mybatis 插件找到实体类的位置-->

<!--            IDEA中MyBatis的mapper文件 实体类名报红 Cannot resolve symbol ‘XXX‘  https://blog.csdn.net/b_just/article/details/114519935-->
<!--         &ndash;&gt;-->
<!--<configuration>-->
<!--    <typeAliases>-->
<!--        <package name="com.everr.pojo"/> &lt;!&ndash;替换成你的项目的实体类的路径&ndash;&gt;-->
<!--    </typeAliases>-->
<!--</configuration>-->
